apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS cars (
        id SERIAL PRIMARY KEY,
        brand VARCHAR(100) NOT NULL,
        model VARCHAR(100) NOT NULL,
        year INTEGER NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

    CREATE TABLE IF NOT EXISTS health_logs (
        id SERIAL PRIMARY KEY,
        timestamp TIMESTAMP,
        status VARCHAR(50)
    );

    INSERT INTO cars (brand, model, year) VALUES 
    ('Toyota', 'Corolla', 2020),
    ('Ford', 'Mustang', 1969);
