apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app-container
          image: app-image:v1 # Versión 1
          ports:
            - containerPort: 5000
          imagePullPolicy: Never
          env:
          # Conexión a Postgres
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: infra-config
                key: DB_HOST
          - name: DB_NAME
            valueFrom:
              configMapKeyRef:
                name: infra-config
                key: DB_NAME
          # Credenciales Postges
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: infra-secrets
                key: DB_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: infra-secrets
                key: DB_PASSWORD
          # - name: ENV
          #   value: "dev"
